body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Roboto', sans-serif;
}

.calcContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.calculator {
    border-style: solid;
    padding: 40px 18px 0px;
    border-radius: 10px;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: fit-content;
    height: 230px;
    background-color:ghostwhite ;
}

.firstRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.screen {
    box-sizing: border-box;
    padding: 1px 4px;
    width: 135px;
    height: 40px;
    display: inline-block;
    border-style: solid;
    border-color:rgb(214, 216, 216);
    border-radius: 10px;
    border-width: 2px;
    margin: 2px;
}

.screenTxt{
    text-align: right;
    margin: 0;
}

/*BUTTON*/
.btn{
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    background-color: rgb(230, 228, 228);
}

/*NUMBER BUTTON*/
.number{
    border-color: rgb(207, 222, 251);
}
.number:hover{
    background-color: rgb(207, 222, 251);
}
.number:active{
    background-color: rgb(194, 206, 229);
}

/*OPERATE BUTTONS*/
.operator{
    border-color: rgb(232, 217, 195);
}
.operator:hover{
    background-color: rgb(231, 220, 205);
}
.operator:active{
    background-color: rgb(227, 214, 193);
}

/*EQUAL BUTTON*/
.equal{
    border-color: rgb(211, 223, 210);
}
.equal:hover{
    background-color: rgb(211, 223, 210);
}
.equal:active{
    background-color: rgb(188, 210, 188);
}
/*CLEAR BUTTON*/
.clear{
    border-color: rgb(245, 207, 207);
}
.clear:hover{
    background-color: rgb(245, 207, 207);
}
.clear:active{
    background-color: rgb(234, 185, 185);
}

/*FOOTER LINKS */
footer a{
    color:black;
    font-weight: bold;

    position: relative;
    top: 0;
    transition: top 0.5s
}
footer a:hover{
    top: -4px;
    color:rgb(68, 69, 62);
}
