body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Roboto', sans-serif;
}

.calcContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.calculator {
    border-style: solid;
    padding: 40px 18px 0px;
    border-radius: 10px;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: fit-content;
    height: 230px;
    background-color:#262626 ;
}

.firstRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.screen {
    background-color: #333333;
    box-sizing: border-box;
    padding: 1px 4px;
    width: 135px;
    height: 40px;
    display: inline-block;
    border-style: solid;
    border-color:rgb(72, 72, 72);
    border-radius: 10px;
    border-width: 1px;
    margin: 2px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.screenTxt{
    text-align: right;
    margin: 0;
}

/*BUTTON*/
.btn{
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 20px;
    border-style: none;
    background-color: #4d4d4d;
    color: white;
    font-size: 20px;
}

/*NUMBER BUTTON*/
.number:hover{
    background-color: #6f6f6f;
}
.number:active{
    background-color: #464646;
}

/*OPERATE BUTTONS*/
.operator{
    background-color: #fe9f1b;
}
.operator:hover{
    background-color: #ffbc5f;
}
.operator:active{
    background-color: #e59320;
}
/*CLEAR BUTTON*/
.clear{
    background-color: #d40000;
}
.clear:hover{
    background-color: #de5757;
}
.clear:active{
    background-color: #af0000;
}

/*FOOTER LINKS */
footer a{
    color:black;
    font-weight: bold;
    text-decoration: none;

    position: relative;
    top: 0;
    transition: top 0.5s
}
footer a:hover{
    top: -4px;
    color:rgb(68, 69, 62);
}
